@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Inter', sans-serif;
  }
  body {
  }
  html {
    @apply scrollbar-thin scrollbar-thumb scrollbar-track;
  }
}
.leaflet-container {
  height: 40vh;
  width: 100%;
}
.ant-dropdown-menu-item:hover {
  background-color: #01567f !important;
}
.ant-dropdown-menu-item:hover .ant-dropdown-menu-title-content {
  color: #fff !important;
}
